# Configuration file for fswebcam
resolution 1280x1024
# More frame, less noise. Plants dont move
frames 10
# Just in case there is some trash
skip 5
# timestamp to seconds (mostly for tests)
timestamp "%d/%m/%Y %H:%M:%S"
# Not too messy jpeg higher values, 0-95
# smaller images lower values
jpeg 80